In [203]:
import pandas as pd
df = pd.read_csv('E:/SW-VLSI/Input-Dataset/tier_II/2_dataset2.csv')

In [204]:
try:
    smtg = df['Dir (wrt entire design)']
    s = 'Dir (wrt entire design)'
except:
    s = 'Dir (wrt design)'

In [205]:
import math
sq = math.sqrt(max(df[df[s]=='Any']['Area_of_each_block (mm^2)']))

In [206]:
names = []

In [207]:
Any = df[df[s]=='Any']
blocks = Any['Block_Count'].tolist()
areas = Any['Area_of_each_block (mm^2)'].tolist()
types = Any['Block_Type'].tolist()

In [208]:
blocks

[1, 3, 3]

In [209]:
names = []

In [210]:
plot = []
cur = 0
for i in range(len(blocks)):
    for j in range(blocks[i]):
        plot.append([0, cur])
        cur+=areas[i]/sq
        plot[-1]+=[sq, cur]
        plot[-1]=tuple(plot[-1])
        names.append(types[i])
width = sq

In [211]:
plot

[(0, 0, 3.0, 1.0),
 (0, 1.0, 3.0, 4.0),
 (0, 4.0, 3.0, 7.0),
 (0, 7.0, 3.0, 10.0),
 (0, 10.0, 3.0, 12.0),
 (0, 12.0, 3.0, 14.0),
 (0, 14.0, 3.0, 16.0)]

In [212]:
Right = df[df[s]=='Right']
blocks = Right['Block_Count'].tolist()
areas = Right['Area_of_each_block (mm^2)'].tolist()
types = Right['Block_Type'].tolist()

In [213]:
blocks

[1]

In [214]:
AnyHeight = plot[-1][-1]
step = sum(areas[i]*blocks[i] for i in range(len(blocks)))/AnyHeight
cur = 0
for i in range(len(blocks)):
    for j in range(blocks[i]):
        plot.append([sq, cur])
        cur+=areas[i]/step
        plot[-1]+=[sq+step, cur]
        plot[-1] = tuple(plot[-1])
        names.append(types[i])
width+=step

In [215]:
plot

[(0, 0, 3.0, 1.0),
 (0, 1.0, 3.0, 4.0),
 (0, 4.0, 3.0, 7.0),
 (0, 7.0, 3.0, 10.0),
 (0, 10.0, 3.0, 12.0),
 (0, 12.0, 3.0, 14.0),
 (0, 14.0, 3.0, 16.0),
 (3.0, 0, 3.3125, 16.0)]

In [216]:
Left = df[df[s]=='Left']
blocks = Left['Block_Count'].tolist()
areas = Left['Area_of_each_block (mm^2)'].tolist()
types = Left['Block_Type'].tolist()

In [217]:
blocks

[2]

In [218]:
step = sum(areas[i]*blocks[i] for i in range(len(blocks)))/AnyHeight
cur = 0
for i in range(len(blocks)):
    for j in range(blocks[i]):
        plot.append([-step, cur])
        cur+=areas[i]/step
        plot[-1]+=[0, cur]
        plot[-1] = tuple(plot[-1])
        names.append(types[i])
width+=step

In [219]:
plot

[(0, 0, 3.0, 1.0),
 (0, 1.0, 3.0, 4.0),
 (0, 4.0, 3.0, 7.0),
 (0, 7.0, 3.0, 10.0),
 (0, 10.0, 3.0, 12.0),
 (0, 12.0, 3.0, 14.0),
 (0, 14.0, 3.0, 16.0),
 (3.0, 0, 3.3125, 16.0),
 (-0.625, 0, 0, 8.0),
 (-0.625, 8.0, 0, 16.0)]

In [220]:
width

3.9375

In [221]:
Top = df[df[s]=='Top']
blocks = Top['Block_Count'].tolist()
areas = Top['Area_of_each_block (mm^2)'].tolist()
types = Top['Block_Type'].tolist()

In [222]:
blocks

[]

In [223]:
step = sum(areas[i]*blocks[i] for i in range(len(blocks)))/width
leftmost = plot[-1][0]
cur = plot[-1][0]
for i in range(len(blocks)):
    for j in range(blocks[i]):
        plot.append([cur, -step])
        cur+=areas[i]/step
        plot[-1]+=[cur, 0]
        plot[-1] = tuple(plot[-1])
        names.append(types[i])

In [224]:
names

['Block_B',
 'Block_C',
 'Block_C',
 'Block_C',
 'Block_E',
 'Block_E',
 'Block_E',
 'Block_F',
 'Block_A',
 'Block_A']

In [225]:
plot

[(0, 0, 3.0, 1.0),
 (0, 1.0, 3.0, 4.0),
 (0, 4.0, 3.0, 7.0),
 (0, 7.0, 3.0, 10.0),
 (0, 10.0, 3.0, 12.0),
 (0, 12.0, 3.0, 14.0),
 (0, 14.0, 3.0, 16.0),
 (3.0, 0, 3.3125, 16.0),
 (-0.625, 0, 0, 8.0),
 (-0.625, 8.0, 0, 16.0)]

In [226]:
Bottom = df[df[s]=='Bottom']
blocks = Bottom['Block_Count'].tolist()
areas = Bottom['Area_of_each_block (mm^2)'].tolist()
types = Bottom['Block_Type'].tolist()

In [227]:
blocks

[1]

In [228]:
step = sum(areas[i]*blocks[i] for i in range(len(blocks)))/width
cur = leftmost
for i in range(len(blocks)):
    for j in range(blocks[i]):
        plot.append([cur, AnyHeight])
        cur+=areas[i]/step
        plot[-1]+=[cur, AnyHeight+step]
        plot[-1] = tuple(plot[-1])
        names.append(types[i])

In [229]:
names

['Block_B',
 'Block_C',
 'Block_C',
 'Block_C',
 'Block_E',
 'Block_E',
 'Block_E',
 'Block_F',
 'Block_A',
 'Block_A',
 'Block_D']

In [230]:
x = min(min(i[0] for i in plot), min(i[2] for i in plot))
y = min(min(i[1] for i in plot), min(i[3] for i in plot))
x, y

(-0.625, 0)

In [231]:
plot = [(i[0]-x, i[1]-y, i[2]-x, i[3]-y) for i in plot]

In [232]:
plot

[(0.625, 0, 3.625, 1.0),
 (0.625, 1.0, 3.625, 4.0),
 (0.625, 4.0, 3.625, 7.0),
 (0.625, 7.0, 3.625, 10.0),
 (0.625, 10.0, 3.625, 12.0),
 (0.625, 12.0, 3.625, 14.0),
 (0.625, 14.0, 3.625, 16.0),
 (3.625, 0, 3.9375, 16.0),
 (0.0, 0, 0.625, 8.0),
 (0.0, 8.0, 0.625, 16.0),
 (0.0, 16.0, 3.9375, 17.015873015873016)]

In [233]:
for i in range(len(names)):
    names[i] = names[i]+str(i+1)

In [234]:
names

['Block_B1',
 'Block_C2',
 'Block_C3',
 'Block_C4',
 'Block_E5',
 'Block_E6',
 'Block_E7',
 'Block_F8',
 'Block_A9',
 'Block_A10',
 'Block_D11']

In [235]:
positions = []
for i in plot:
    positions.append([])
    for j in i:
        positions[-1].append(41*j)

In [236]:
lengths = []
breadths = []
area = []
aspect_ratio = []
for i in plot:
    lengths.append(i[2]-i[0])
    breadths.append(i[3]-i[1])
    area.append((i[2]-i[0])*(i[3]-i[1]))
    aspect_ratio.append((i[3]-i[1])/(i[2]-i[0]))

In [237]:
zippedList =  list(zip(names, lengths, breadths, area, aspect_ratio))

In [238]:
dfObj = pd.DataFrame(zippedList, columns = ['Name' , 'Length', 'Breadth', 'Area', 'Aspect Ratio'])

In [239]:
dfObj

         Name  Length    Breadth  Area  Aspect Ratio
0    Block_B1  3.0000   1.000000   3.0      0.333333
1    Block_C2  3.0000   3.000000   9.0      1.000000
2    Block_C3  3.0000   3.000000   9.0      1.000000
3    Block_C4  3.0000   3.000000   9.0      1.000000
4    Block_E5  3.0000   2.000000   6.0      0.666667
5    Block_E6  3.0000   2.000000   6.0      0.666667
6    Block_E7  3.0000   2.000000   6.0      0.666667
7    Block_F8  0.3125  16.000000   5.0     51.200000
8    Block_A9  0.6250   8.000000   5.0     12.800000
9   Block_A10  0.6250   8.000000   5.0     12.800000
10  Block_D11  3.9375   1.015873   4.0      0.257999

In [121]:
import rpack
from tkinter import *
import pandas as pd
from tkinter.ttk import *
# positions = [(j*100 for j in i) for i in plot]
root  = Tk()
root.geometry("1000x1000")
myCanvas = Canvas(root, bg="white", height=800, width=800)
# myCanvas.create_rectangle(25, 25, cs[0]+25, cs[1]+25, outline = "#636e72", fill = "#2d3436", width = 5)
for i in range(len(plot)):
    myCanvas.create_rectangle(positions[i][0]+50, positions[i][1]+50, positions[i][2]+50, positions[i][3]+50, outline = "#636e72", fill = "#ffeaa7", width = 1)
    mylabel = myCanvas.create_text((positions[i][2]+positions[i][0])/2 + 50, (positions[i][1]+positions[i][3])/2 + 50, text=names[i].split("_")[1])
mylabel = myCanvas.create_text(350,700, text=" Area= " + str(sum(area)) + " mm^2")
myCanvas.pack()
root.mainloop()

In [267]:
aspect_ratio = []
for i in plot:
    aspect_ratio.append((i[2]-i[0],i[3]-i[1],(i[3]-i[1])/(i[2]-i[0])))

In [268]:
details={}
for i in range(len(names)):
    details[names[i]]=aspect_ratio[i]

details

{'Block_B1': (2.6457513110645907, 0.3779644730092271, 0.1428571428571428),
 'Block_B2': (2.6457513110645907, 0.3779644730092273, 0.14285714285714288),
 'Block_B3': (2.6457513110645907, 0.3779644730092273, 0.14285714285714288),
 'Block_D4': (2.6457513110645907, 2.64575131106459, 0.9999999999999997),
 'Block_F5': (2.6457513110645907, 0.37796447300922775, 0.14285714285714304),
 'Block_A6': (2.1647056181437563, 1.385869734367166, 0.6402116402116399),
 'Block_A7': (2.1647056181437563, 1.3858697343671667, 0.6402116402116402),
 'Block_A8': (2.1647056181437563, 1.3858697343671667, 0.6402116402116402),
 'Block_G9': (1.4431370787625042, 2.0788046015507495, 1.44047619047619),
 'Block_G10': (1.4431370787625042, 2.0788046015507495, 1.44047619047619),
 'Block_C11': (3.1267970039854256, 1.2792643701850765, 0.4091293322062552),
 'Block_C12': (3.1267970039854256, 1.2792643701850765, 0.4091293322062552),
 'Block_E13': (1.5633985019927128, 0.6396321850925384, 0.40912933220625525),
 'Block_E14': (1.5633985019927128, 0.6396321850925384, 0.40912933220625525),
 'Block_E15': (1.563398501992713, 0.6396321850925384, 0.4091293322062552),
 'Block_E16': (1.5633985019927126, 0.6396321850925384, 0.4091293322062553)}